@keyframes move_1 {
    0%,100%
    {
        transform: translate(-10%, -10%);
    }
    20%, 80%
    {
        transform: translate(0, 0);
    }
}
@keyframes move_2 {
    0%, 20%, 100%
    {
        transform: translate(10%, -10%);
    }
    40%, 80%
    {
        transform: translate(0, 0);
    }
}
@keyframes move_3 {
    0%, 40%, 100%
    {
        transform: translate(10%, 10%);
    }
    60%, 80%
    {
        transform: translate(0, 0);
    }
}
@keyframes move_4 {
    0%, 60%, 100%
    {
        transform: translate(-10%, 10%);
    }
    80%, 80%
    {
        transform: translate(0, 0);
    }
}
@keyframes rotate_ {

    0%,20%
    {
        transform: rotate(0deg);
    }
    25%, 45%
    {
        transform: rotate(90deg);
    }
    50%, 70%
    {
        transform: rotate(180deg);
    }
    75%, 95%
    {
        transform: rotate(270deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

$move_time : 3s;
$rotate_time : 4*$move_time;

@mixin move_animation($animation) {
    animation: $animation $move_time ease infinite;
}

.loading
{
    svg
    {
        animation: rotate_ $rotate_time ease infinite;
        border-radius: 25px;

        @for $i from 1 through 4 {
            #vector_#{$i}
            { 
                @include move_animation(move_#{$i})
            }
        }

        // #vector_1
        // {
        //     @include move_animation(move_1)
        // }

        // #vector_4
        // {
        //     @include move_animation(move_2)
        // }

        // #vector_3
        // {
        //     @include move_animation(move_3)
        // }

        // #vector_2
        // {
        //     @include move_animation(move_4)
        // }
    }
}