@mixin bgColor($color) {
    background-color: $color;
  }

  $colors: red, orange, yellow, green, blue, purple;

  @mixin foo($prefix, $num){
    @for $i from 1 through $num {
        #{$prefix}-#{$i} {
            background-color: nth($colors, $i);
        }
    }
}
.playboard
{
    position: relative;
    width: 800px;
    height: 200px;
    background-color: hotpink;

    &__singlepuzzlepiece
    {
        width: 50px;
        height: 50px;
        position: absolute;

        &:hover
        {
            transform: scale(1.1);
        }
        &--selected-true
        {
            z-index: 5;
        }
        &--selected-false
        {
            z-index: 1;
        }

        &--grab
        {
            &-grabbed
            {
                transform: scale(1.2);
                opacity:0.5;
            
            }
            &-droped
            {
            }
        }

        @include foo("&--color", 5);
        
    }
}
