.playboard
{
    @extend .main-container;

     background: linear-gradient(to bottom right, rgba(255,255,255,0.7), rgba(255,255,255,0.3));


    &__grabfield
    {
        display: flex;
        min-height: 90vh;
        border-top-left-radius: 2rem ;
        border-bottom-left-radius: 2rem ;
        width: 35%;
        background: linear-gradient(to bottom right, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        &__grabbox
        {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 80%;
            justify-content: center;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
              }

        }
    }

    &__dropfield
    {
        display: flex;
        min-height: 90vh;
        border-top-left-radius: 2rem ;
        border-bottom-left-radius: 2rem ;
        
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        

        &__dropboxesarea
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 85%;
            &__image
            {
                display: flex;
                flex-wrap: wrap;
                background-image:  linear-gradient( rgba(255,255,255,0.6), rgba(255,255,255,0.6) ),var(--image);
                background-size: 100%;
               
        
                &-exposed
                {
                    transform: scale(1.4);
                    background-image:  var(--image);
                }
              
                &__boxtodrop
                {
                    border: black 1px solid;
                    display: flex;
                    justify-content: center;
                    align-items: center;

              

                    &-overthisbox
                    {
                        border: hotpink 2px solid;
                    }
                }
            }

        }

        &__statarea
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 15%;
            &__icon
            {
                width: 40px;
                height: 40px;
                margin-top: 20%;
            }
        }
    }

    &__singlepuzzlepiece
    {
        background-image: var(--image);
        transition: all .3s ease-in-out;
        transform: scale(0.8);
        &-grabbed
        {
            opacity: 0.2;
        }
        &-dropped
        {
            transform: scale(1);
        }
        &:hover
        {
            transform: scale(1);
        }
    }
}






@media (max-width: 767.98px) {  
.playboard
{
    display: flex;
    flex-direction: column-reverse;
    &__grabfield
    {
        width: 100%;
        min-height: 0vh;
    }

    &__dropfield
    {
        width: 100%;
        min-height: 0vh;
    

        &__dropboxesarea
        {
            width: 100%;

            min-height: 0vh;
            height: 60vh;
            &__image
            {
                display: flex;
                flex-wrap: wrap;
                background-image:  linear-gradient( rgba(255,255,255,0.6), rgba(255,255,255,0.6) ),var(--image);
                background-size: 100%;
               
            }

        }
    }
}

}
