

.profile
{
    background: linear-gradient(to bottom right, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    width: 180px;
    position: fixed;
    top:2%;
    right: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &:hover
    
        { cursor: pointer; }
    

    &__avatar
    {
        width: 25%;
        position: sticky;
    }

    &--open
    {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    &--close
    {
        border-radius: 25px;
    }
}

.profile-details
{
    background: linear-gradient(to bottom right, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    width: 180px;
    height: 200px;
    position: absolute;
    bottom: -210px;
    right: 0;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
   
    justify-content: space-around;
    align-items: center;

    &:hover
    
    { cursor: auto; }

    &__avatar
    {
        width: 35%;
    }
}