@keyframes cursor {
    50%
    {
        border-color: transparent;
    }
    100%{
        border-color: black;
    }
}
@keyframes typing {
    0%
    {
        left:-8%
    }
    100%{
        left:100%
    }

}

@keyframes deleting {
    0%
    {
        left:100%
    }
    100%{
        left:0%
    }
}

.registration{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__profile
    {
        width: 35%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom right, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
        border-radius: 2rem ;
        &__avatar
        {
            width: 40%;
        }
        &__flag
        {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-around;
   
            &__stat
            {
                width: 20%;
                height: 50%;
                color: whitesmoke;
             
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                div
                {
                    background-color: $base-blue-color;
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    

                    span
                    {
                        font-size: xx-large;
                    }
                    p
                    {
                        margin-bottom: 5%;
                    }
                }



            }

            &__img{
                width: 20%;
                height: 50%;
            }

            &__img--without-a-flag
            {
                width: 20%;
                height: 50%;
                border: solid 2px black;

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 30%;

                &::before
                {
                    content: "choose nation";
                    position: absolute;
                }
            }

        }
        &__nickname
        {
            width: 80%;
            height: 7%;
            margin-left: 20%;
            background-color: $base-green-color;
            display: flex;
            h2
            {
                background-color: $base-green-color;
                position: relative;
                overflow: hidden;
                font-family: monospace;
                text-align: center;
                padding-right: 1%;
            }

            h2::after
            {
                content: "";
                background-color: $base-green-color;
                border-left: 5px solid $dark-color;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .nickname-typing::after
            {
                animation: cursor .8s infinite linear, typing 1.5s backwards steps(14, start);
            }
            .nickname-deleting::after
            {
                animation: cursor .8s infinite linear, deleting 0.8s forwards steps(14, start);
            }
            .nickname-disable::after
            {
                animation: cursor .8s infinite linear;
            }
        }

    }

    &__formbox
    {
        width: 35%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        &__singup-inputs
        {
            width: 75%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            label[for] {
                font-size: x-large;
              }

            input, 
            select
                {
                    border: 2px solid $base-yellow-color;
                    border-radius: 5px;
                    padding: 1%;
                    margin: 1%;
                }

                &__gender
                {
                    display: flex;
                    margin-bottom: 2%;
                    &__radio
                    {
                        margin: 1%;
                        display: flex;
                        justify-content: center;
                        font-size: x-large;
                       
                        height: 100%;
                        width: 15%;
                        cursor: pointer;
                       
                   
                        span{
                            border: 4px solid $base-yellow-color;
                            border-radius: 50%;
                            background-color: white;
                            height: 90%;
                            width: 45%;

                            position: relative;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10%
                        };

                        &--selected
                        {
                            background-color: $base-green-color;
                            width: 50%;
                            height: 50%;
                            border-radius: 50%;
                            position: absolute; 
                        }

                        input{
                            position: absolute;
                            opacity: 0;
                  
                        }
                    }
                }
               

        }
    }
}
