.welcome
    {
        @extend .main-container;

        background: linear-gradient(to bottom right, rgba(255,255,255,0.7), rgba(255,255,255,0.3));

        flex-direction: column;
        justify-content: space-around;


        &__header
        {
            width: 100%;
            height: 45vh;
            min-height: 250px;
            text-align: center;
            display: flex;
            justify-content: space-around;
            &__undraw
            {
                width: 50%;
                height: 100%;
            }
            &__text
            {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &__icon
                {
                    width: 5%;
                }
                p{
                    margin-top: 3%;
                }
            }

        }

        &__navbox
        {
            width: 100%;
            min-height: 45vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            &__box
            {
                width: 26%;
                height: 20vh;
                min-height: 200px;
                background-image: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0.1), rgba(255,255,255,0.9));
                background-size: 300%;
                background-position: right;
                transition: background-position 0.8s;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                &--hover
                {
                    background-position: left;
                }

                h1{
                    font-size: x-large;
                    text-align: center;
                    margin-bottom: 3%;
                }
                p{
                    font-size: small;
                    text-align: center;
                    padding: 5%;
                }

                &__button
                {
                    background-color: $base-yellow-color;
                    text-decoration: none;
                    color:black;
                    font-size: medium;
                    text-align: center;
                    padding: 2%;
                    padding-left: 2%;
                    padding-right: 2%;
                    width: 50%;
                }
            }
        }


        @import "welcomeMedia";
    }

